light:
{% for ch in range(1, 5) %}
  - platform: monochromatic
    id: light_{{ prefix }}_ch{{ ch }}
    name: "{{ prefix }}_ch{{ ch }} Light"
    output: dimmer_output_{{ prefix }}_ch{{ ch }}
    default_transition_length: 0s
    on_turn_on:
      - lambda: |-
          auto cmd = esphome::modbus_controller::ModbusCommandItem::create_write_single_coil(
            id({{ prefix }}), {{ ch - 1 }}, true);
          id({{ prefix }})->queue_command(cmd);
    on_turn_off:
      - lambda: |-
          auto cmd = esphome::modbus_controller::ModbusCommandItem::create_write_single_coil(
            id({{ prefix }}), {{ ch - 1 }}, false);
          id({{ prefix }})->queue_command(cmd);
{% endfor %}
